# template/registration/login.html
{% extends "base.html" %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <div class="container mt-5">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success mt-3">Submit</button>
            {% if errors %}
                <div class="alert alert-danger mt-3">
                    <strong>Error!</strong> {{ errors }}
                </div>
            {% endif %}
        </form>
        {% if error %}
            <div class="alert alert-danger mt-3">
                <strong>Error!</strong> {{ error }}
            </div>
        {% endif %}
    </div>
{% endblock content %}
